[MASTER]
extension-pkg-whitelist=pyodbc
[MESSAGES CONTROL]

disable=
    invalid-name,
    missing-docstring,
    too-many-instance-attributes,
    missing-timeout,
    broad-exception-caught,
    E1101
