[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]

disable=
    invalid-name,
    missing-docstring,
    too-many-instance-attributes,
    missing-timeout,
    unused-argument,
    unused-variable,
    broad-exception-caught