[MASTER]
extension-pkg-allow-list=pyodbc

[MESSAGES CONTROL]

disable=
    invalid-name,
    missing-docstring,
    too-many-instance-attributes,
    missing-timeout,
    broad-exception-caught,
    unnecessary-pass,
    E1101
